@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Shadows+Into+Light&display=swap');

body {
    background-color: #1d3549;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    color: white;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    background-color: white;
    color: #1d3549;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #1d3549;
    color: white;
}

header {
    background-color: #1d3549;
}

.home-title {
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

h4 {
    color: #B4CDED;
}

.card-img {
    border: 10px solid white;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.book, .join{
    background-color: white;
    color: #1d3549;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #1d3549;
    color: white;
}

.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: white;
}

.msg {
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color:#1d3549;
}

.msg p {
    color: #1d3549;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #1d3549;
    color: #B4CDED;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p a {
    background-color: #B4CDED;
    color: #1d3549;
    text-decoration: none;
}

footer p a:hover {
    background-color: #1d3549;
    color: #B4CDED;
    text-decoration: underline;
}

footer p{
    font-size: 1.2em;
}

footer .social img{
    padding-top: 15px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}